{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} Awards and Accomplishments {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <div>
      <div class="text-center text-white h1" style="background: #e14d2a">Our Accomplishments</div>
      <div class="container my-5">
        <div class="row text-center">
          <div class="col-xl-3 col-sm-6 mb-5">
            <div style="height: 15rem" class="bg-white rounded shadow w-fit d-grid">
              <img
                src="{%static 'award_1.jpg'%}"
                alt="award_1"
                class="img-fluid px-2 mx-auto my-auto"
              />
	      <br />
              <h5 class="mt-auto mb-3">Award 1</h5>
            </div>
          </div><div class="col-xl-3 col-sm-6 mb-5">
            <div style="height: 15rem" class="bg-white rounded shadow w-fit d-grid">
              <img
                src="{%static 'award_2.jpg'%}"
                alt="award_2"
                class="img-fluid px-2 mx-auto my-auto"
              />
	      <br />
              <h5 class="mt-auto mb-3">Award 1</h5>
            </div>
          </div><div class="col-xl-3 col-sm-6 mb-5">
            <div style="height: 15rem" class="bg-white rounded shadow w-fit d-grid">
              <img
                src="{%static 'award_3.jpg'%}"
                alt="award_3"
                class="img-fluid px-2 mx-auto my-auto"
              />
	      <br />
              <h5 class="mt-auto mb-3">Award 1</h5>
            </div>
          </div><div class="col-xl-3 col-sm-6 mb-5">
            <div style="height: 15rem" class="bg-white rounded shadow w-fit d-grid">
              <img
                src="{%static 'award_4.jpg'%}"
                alt="award_4"
                class="img-fluid px-2 mx-auto my-auto"
              />
	      <br />
              <h5 class="mt-auto mb-3">Award 1</h5>
            </div>
          </div><div class="col-xl-3 col-sm-6 mb-5">
            <div style="height: 15rem" class="bg-white rounded shadow w-fit d-grid">
              <img
                src="{%static 'award_5.jpg'%}"
                alt="award_5"
                class="img-fluid px-2 mx-auto my-auto"
              />
	      <br />
              <h5 class="mt-auto mb-3">Award 1</h5>
            </div>
          </div><div class="col-xl-3 col-sm-6 mb-5">
            <div style="height: 15rem" class="bg-white rounded shadow w-fit d-grid">
              <img
                src="{%static 'award_6.jpg'%}"
                alt="award_6"
                class="img-fluid px-2 mx-auto my-auto"
              />
	      <br />
              <h5 class="mt-auto mb-3">Award 1</h5>
            </div>
          </div><div class="col-xl-3 col-sm-6 mb-5">
            <div style="height: 15rem" class="bg-white rounded shadow w-fit d-grid">
              <img
                src="{%static 'award_7.jpg'%}"
                alt="award_7"
                class="img-fluid px-2 mx-auto my-auto"
              />
	      <br />
              <h5 class="mt-auto mb-3">Award 1</h5>
            </div>
          </div><div class="col-xl-3 col-sm-6 mb-5">
            <div style="height: 15rem" class="bg-white rounded shadow w-fit d-grid">
              <img
                src="{%static 'award_8.jpg'%}"
                alt="award_8"
                class="img-fluid px-2 mx-auto my-auto"
              />
	      <br />
              <h5 class="mt-auto mb-3">Award 1</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
