{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} Payroll and Compliance {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <div>
      <div class="">
        <h1 class="h1 text-center text-white py-2 my-5" style="background: #e14d2a">
          How it works at Arise?
        </h1>
        <div class="text-center">
          <p style="color: black; font-size: 1.2rem; line-height: 1.5" class="w-75 mx-auto">
            At Arise Solution, we understand that properly managing your human resources is a top
            priority for any large corporation. That's why we offer our HRSS and Payroll Services.
            We provide not only the products but also the talent pool of expert professionals who
            will take care of your payroll management systems. With our technology and skilled
            workforce, we'll make sure your human resources are used efficiently and effectively.
            Contact us today to learn more about how we can help you manage your corporation's human
            resources. We offer a seamless payroll management experience with an expert team of HRSS
            professionals. We offer the following services with possibilities of customization: •
            Attendance Management- Online/Offline, • Leave Management - Online/Offline, • Salary
            Processing, • Tax & Computations, • Payroll Compliance Computation, and • Reimbursements
            Audit & Approval.<br /><br />
            Our team of experts will work with you to ensure a smooth transition to our payroll
            management system, and we will provide ongoing support to ensure that your payroll needs
            are met. With our extensive experience in the field, you can be confident that your
            payroll management needs are in good hands. Contact us today to learn more about our
            services and how we can help you streamline your payroll process.<br /><br />
            Amongst the numerous reasons for a firm to outsource the payrolling process, the
            following are some notable points that need to be taken into account:  • Payrolling is a
            time guzzler - Payrolling is time consuming, and for an organization, time happens to be
            the most critical asset. Every organization puts concerted efforts to save and utilize
            time in an optimum manner. By outsourcing this function, the organizations can have more
            time at their disposal which in turn can be used for other important functions. •
            Productivity can be optimized - With this burden of Payrolling removed, HR team can
            employ its resources on the strategic development of the organization focusing on things
            like holistic employee engagement, training, skill development etc. All these factors
            help in enhancing productivity of employees which is again beneficial for the
            organization. • Expense Management - Payment based on Allowances / Rates, Audit of
            Expense Statements before Payout etc. are some factors which if taken care by an expert
            will help in saving a lot of money for the organization. • Helplines - Ticket Based
            Helpdesk for issues and Helplines for all employees if required are some facilities
            which a good payroll outsourcing company should provide so that employees do not face
            any difficulties and all their queries / problems are resolved in a timely manner.
            Outsourcing payrolling is a smart decision for any organization as it brings with it a
            host of benefits which helps in overall growth and development of the organization.
          </p>
          <img style="width: 40%" class="my-5" src="{% static 'payroll.jpg' %}" />
        </div>
        <h1 class="h1 text-center text-white bg-primary py-2 mb-5">
          Leveraging Technology to its fullest
        </h1>
        <div class="text-center">
          <p style="color: black; font-size: 1.2rem; line-height: 1.5" class="w-75 mx-auto">
            At Arise Solution, we understand that communication is key to a successful business. To
            streamline communications and observations, we have implemented Employee and Employer
            dashboards. These dashboards give HR personnel a complete view of an employee's
            personal, professional, and educational information. The data is easy to update and
            maintain, and it is backed up for employees' historical records. Additionally, the
            Attendance Data tab captures employee turnout and allows for bulk uploading of
            attendance data. Employees can view their own attendance records, as well as apply for,
            approve, or reject leave requests online. This Leave Management system helps to keep
            track of leave balances, carryover, and lapses. With this system in place, employers can
            easily manage the leave time available to their employees. By implementing these
            Employee and Employer dashboards, Arise Solution is committed to improving communication
            and promoting a positive work environment.
          </p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
