{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %} TurnKey Projects {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <div>
      <div class="">
        <h1 class="h1 text-center text-white py-2 my-5" style="background: #e14d2a">
          Why choose Arise for TurnKey Projects?
        </h1>
        <div class="text-center">
          <p style="color: black; font-size: 1.2rem; line-height: 1.5" class="w-75 mx-auto">
            Turnkey projects are highly time-bound and resource-critical, and can weaken a company's
            capacity if handled with a traditional business process. Arise has the experience and
            expertise to manage Turnkey projects quickly and efficiently, while preserving the
            company's time and resources. Arise has a Turnkey project team that is dedicated to
            meeting the unique needs of each client. The team works closely with the client to
            understand the scope of the project and identify the resources required. The team also
            develops a project plan that outlines the schedule, milestones, and deliverables. Arise
            Turnkey Project managers are experienced in managing all aspects of Turnkey projects,
            from planning and execution to completion. Arise Turnkey Project managers are also adept
            at managing risk and ensuring that Turnkey projects are delivered on time, within
            budget, and to the highest standards.<br />
            At Arise, we take a comprehensive and tailored approach to market research projects. We
            understand that each client has unique needs, and we work hard to deliver turnkey
            solutions that achieve the desired results. Whether it's a product research project or a
            customer satisfaction survey, our team has the experience and expertise to get the job
            done right. We've worked with some of the biggest names in the business, and we're
            confident that we can deliver the insights you need to make informed decisions. If
            you're looking for market research services that go above and beyond, look no further
            than Arise. We'll work with you to understand your needs and objectives, and we'll craft
            a solution that delivers the results you're looking for.
          </p>
        </div>
        <h1 class="h1 text-center text-white bg-primary py-2 my-5">
          Leveraging Technology for Turnkey Projects
        </h1>
        <div class="text-center">
          <p style="color: black; font-size: 1.2rem; line-height: 1.5" class="w-75 mx-auto"></p>
          <p style="color: black; font-size: 1.2rem; line-height: 1.5" class="w-75 mx-auto mt-5">
            AAt Arise, we provide turnkey projects for our clients that include a wide range of
            services. We have our own registered software that helps us regularly maintain a huge
            set of database spread across varied sectors and industries, all across the world. Our
            clients have found our consultants to be well trained in coordination, negotiation,
            referencing, talent mapping, crowd pulling, amongst other skill sets. Whether it’s a
            personal interview room, or arranging telephonic interviews, providing a video
            conferencing facility, or taking care of hi – tech technical facilities with multiple
            backup options – Arise Solutions knows to cater to their clients the best. In addition,
            we also offer post-employment support to ensure a smooth transition for the candidates.
            With our years of experience and expertise in the field, we are confident in our ability
            to provide the best possible service to our clients. Contact us today to learn more
            about how we can help you with your staffing needs.
          </p>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
